# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de dependencias
node_modules/
ios/Pods/
android/.gradle/
android/app/build/

# Archivos de configuración locales
.env
.env.development
.env.production

# Archivos de compilación
dist/
build/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de caché
.cache/
